POSTGRES_URL=postgres://postgres:notverys3curepassword@localhost:5432/bookbook_db

# Direct connection to the database. Used for migrations.
DIRECT_URL=

MONGO_URL=mongodb://admin:notverys3curepassword@localhost:27017
