@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  font-family:  kanit, sans-serif;
  background-image: linear-gradient(to bottom right,white,lightblue);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0px;
  color: #333;
  min-height: 100vh;
} 

nav ul li a:hover{
  color : #304674;
  text-decoration: underline;
}

main {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* bookcard======================================= */
.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  padding : 30px;
  width: 100%;
  font-size: 20px;
}

.book-footer button:hover {
  background: #0056b3;
}

